# Compiled objects.
/obj

# Generated library.
/lib

# 3rd-party libraries.
/sbg/3rd-party/gtest/usr/

# Test files. 
/sbg/test/utest/GraphTest
/sbg/test/utest/PrintGraphs
/sbg/test/utest/*.dot
/sbg/test/utest/*.log
/sbg/test/stest/test_data/*
/sbg/test/stest/bin/*
/sbg/test/stest/obj/*

# Doc files.
/doc/*

# Examples
/examples/*

# Compile/Autoconf files.
config.*
configure
Makefile
/autom4te.cache
