# Install folder..
/install

# Build folder.
/build

# Doc folder.
/doc

# 3rd-party libraries.
/3rd-party/build/**
/3rd-party/boost/*

# Test files. 
/test/parser/test_data/*
/test/eval/test_data/*
/test/build/bin/

# Log files
*.log
