# Compiled objects.
/obj

# Generated library.
/lib

# Binary files
/bin

# 3rd-party libraries.
/3rd-party/gtest/usr/

# Test files. 
/test/parser/test_data/*
/test/parser/obj/*
/test/parser/bin/*
/test/eval/test_data/*
/test/eval/obj/*
/test/eval/bin/*
/test/performance/obj/*
/test/performance/bin/*

# Doc files.
/doc/*
/sbg/doc/*
/sbg/util/doc/*

# Compile/Autoconf files.
config.*
configure
Makefile
/autom4te.cache

# Log files
SBG.log
